
/* BANNER */

.img-banner {
  border-bottom: 10px solid #000000;
  margin-bottom: 20px;
}


/* SEÇÃO DOS CARDS */

.div-card {
  max-width: 60px;
  margin: 12px auto;
}

/* Classe para ajustar o tamanho da imagem dentro da div dos Cards */
.img-card {
  max-width: 100%;
  height: auto;
}

.texto-destaque-card {
  color: #ff0000;
}

.card-hover {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
}

/* Estilo ao passar o mouse sobre o card */
.card-hover:hover {
  transform: scale(1.05); /* Aumenta levemente o tamanho */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-color: #ff0000;
}

/* SEÇÃO SOBRE NOS */

.img-sobre-nos {
    border-radius: 48px;
    box-shadow: rgba(17, 17, 26, 0.4) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;}

.texto-sobre-nos {    
    line-height: 8px; 
}
.text-sobre-nos {
    font-size: 1.7rem;
    font-weight: bold;
    color:#ff0000;
}

.sobre-nos-pint-bem {
    font-weight: bold;
    font-size: 3.2rem;
}

.descricao-sobre-nos {
    font-size: 1.1rem;
}

/* Estilo para o botão "Saiba Mais" */
.btn-red {
    border-radius: 20px; /* Ajuste o valor conforme desejado para tornar o botão mais ou menos arredondado */
    background-color: transparent; /* Fundo sem cor */
    border: 2px solid #FF0000; /* Bordas vermelhas */
    color: #FF0000; /* Texto vermelho */
    padding: 8px 45px; /* Ajuste o preenchimento conforme necessário */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.btn-red:hover {
    background-color: #FF0000; 
    color: #FFFFFF; 
    transform: scale(1.1); 
}